<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI+专家</title>
    <link href="../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../static/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ info_dict.title }}</h5>
                    </div>
                    <div class="ibox-content">
                        {% if info_dict.content %}
                        <h4>智能体独立和协同工作流说明</h4>
                        <ul>
                            {% for item in info_dict.content %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if info_dict.description %}
                        <h4>工作流描述</h4>
                        <ol>
                            {% for item in info_dict.description %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ol>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <li style="padding: 5px 15px;">
            <img src="../static/ppt00.PNG"  width=900" height = "500" />
        </li>
        <li style="padding: 5px 15px;">
            <img src="../static/ppt01.PNG"  width=900" height = "500" />
        </li>
        <li style="padding: 5px 15px;">
            <img src="../static/ppt02.PNG"  width=900" height = "500" />
        </li>
</div>
</body>
</html>
