<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>
    <!--图片背景动态变换-->
    <!--[if IE]>
    <script>

    </script>
    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h1 align="left" style="color: black;font-family: 微软雅黑"> Herowind Agents Portal </h1>
                <form action="" method="post">
{#                    {{ uf.as_p }}#}
{#                    <input type="submit" value="login">#}
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="username" class="text" style="color: #FFFFFF !important" type="text"
                               placeholder="请输入账户">
                    </div>
                    <div class="input_outer" >
                        <span class="us_uer"></span>
                        <input name="password" class="text"
                               style="color: #FFFFFF !important; position:absolute; z-index:100;" value=""
                               type="password" placeholder="请输入密码">
                    </div>
                    <!--设置按钮样式与响应-->
                    <form id="act-but submit"><button type="submit" style="width:330px;height:50px;border:none;color: #ffffff;text-align: center" class="act-but submit" align="middle">登录</button></form>
                </form>

            </div>
        </div>
    </div>
</div><!-- /container -->
<script src="/static/js/TweenLite.min.js"></script>
<script src="/static/js/EasePack.min.js"></script>
<script src="/static/js/rAF.js"></script>
<script src="/static/js/demo-1.js"></script>
<div style="text-align:center;">
</div>
</body>
</html>
